<div id="searchBar">
    <div class="container">

        <div class="searchInside">
            <div class="searchField">
                <form action="/search" class="search__form" role="search" method="POST">
                    <input type="search" aria-label="search" id="searchInput" name="searchTerm" placeholder="Search the site..." />
                </form>
            </div>
            <div id="searchClose">
                <ion-icon name="close-outline"></ion-icon>
        </div>
        </div>

    </div>
</div>