<div class="about">

    

    <div class="about__text">
        <h1>About</h1>

        <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Nam natoque habitasse facilisi nunc scelerisque litora. Auctor vel parturient blandit sociosqu ex mauris habitasse integer. Facilisis inceptos ad conubia, curae fames facilisi amet. Iaculis ultricies rutrum elementum accumsan in orci lacinia penatibus. Mus viverra lorem inceptos parturient tortor sit. Nam nunc tristique tristique nascetur maecenas faucibus. Porta primis hac porttitor interdum luctus. Aenean pretium habitant; blandit consectetur libero posuere cubilia feugiat est.</p>
        
        <p>Non himenaeos pretium pulvinar amet a iaculis. Consectetur aptent dolor efficitur tincidunt pharetra primis suscipit luctus. Eros lectus torquent condimentum nullam nisi praesent. Rhoncus et porta fermentum pretium facilisi nam. Risus varius eros mattis rhoncus ipsum. Dolor efficitur a erat diam ad mus sit nec. Tincidunt platea odio per gravida torquent himenaeos curabitur. Tempor dignissim ac curabitur, malesuada nibh cubilia? Tortor torquent libero aliquet aliquam fusce.</p>
    </div>

    <div class="about__portrait">
        <img src="/img/portrait-image.avif" alt="portrait of site creator" class="portrait-image">
    </div>

</div>