<h1>Contact</h1>

<h2>Business &amp; collaboration inquiries</h2>

<ul class="contact__methods">

    <li class="contact__method">
        <div><ion-icon name="mail-outline"></ion-icon></div>
        <div><a href="mailto:janedoe@fakeemail.com" title="Jane Doe's business email">janedoe@fakeemail.com</a></div>
    </li>

</ul>

<hr />

<h2>Social media</h2>

<ul class="contact__methods">

    <li class="contact__method">
        <div><ion-icon name="logo-facebook"></ion-icon></div>
        <div><a href="https://www.facebook.com/" title="Jane Doe's Facebook profile">janedoe</a></div>
    </li>

    <li class="contact__method">
        <div><ion-icon name="logo-instagram"></ion-icon></div>
        <div><a href="https://www.instagram.com/" title="Jane Doe's Instagram profile">janedoe</a></div>
    </li>

    <li class="contact__method">
        <div><ion-icon name="logo-twitter"></ion-icon></div>
        <div><a href="https://www.twitter.com/" title="Jane Doe's Twitter profile">janedoe</a></div>
    </li>

</ul>