<div class="author">
    <h1 class="author__heading">Amira Mohamed</h1>
    <p class="author__body">Web developer and quality designer</p>
</div>

<img src="/img/hero-image.avif" alt="portrait of site creator" class="hero-image">

<section class="articles">

    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="article-ul">
        <li><a href="#">
            <span class="article-list__title">Post Title</span>
            <span class="article-list__date">Date</span>
        </a></li>
        <li><a href="#">
            <span class="article-list__title">Post Title</span>
            <span class="article-list__date">Date</span>
        </a></li>
        <li><a href="#">
            <span class="article-list__title">Post Title</span>
            <span class="article-list__date">Date</span>
        </a></li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
    
</section>
    